/* stylelint-disable declaration-no-important */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable max-nesting-depth */

// 知识库主题色变量
@knowledge-color-primary: rgb(254 200 180);
@knowledge-color-primary-hover: rgb(254 190 168);
@knowledge-color-primary-light: rgb(254 200 180 / 20%);
@knowledge-color-primary-light-hover: rgb(254 200 180 / 28%);

.select-format-type {
  display: flex !important;
  gap: 8px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  :global {
    .info-icon {
      position: absolute;
      top: 10px;
      right: 10px;

      display: none;

      color: var(--coz-fg-dim);
    }

    .semi-radio-cardRadioGroup {
      padding: 10px 16px;
      border: 1px solid var(--coz-stroke-plus);

      &:hover {
        background: var(--coz-mg-secondary-hovered);
      }

      &:active {
        background: var(--coz-mg-secondary-pressed);
      }
    }


    .semi-radio-cardRadioGroup_checked {
      background: @knowledge-color-primary-light;
      border: 1px solid @knowledge-color-primary;

      &:hover {
        background: @knowledge-color-primary-light-hover;
      }

      &:active {
        background: @knowledge-color-primary-light-hover;
      }
    }

    .semi-radio {
      position: relative;
      display: flex;
      flex: 1;
      justify-content: center;

      &:hover {
        .info-icon {
          display: block;
        }
      }

      .semi-radio-content {
        height: 48px !important;

        .semi-radio-addon {
          display: flex !important;
          flex-direction: column;

          .radio-logo {
            height: 28px;
          }
        }
      }
    }

    // 单选框选中状态
    .semi-radio-checked .semi-radio-inner {
      border-color: @knowledge-color-primary;

      &::after {
        background-color: @knowledge-color-primary;
      }
    }
  }
}
