
.icon-button {
  margin-right: 6px;

  &&& {
    background-color: rgb(255 255 255 / 88%);

    &:hover {
      background-color: rgb(254 199 179 / 20%);
    }

    &:active {
      background-color: rgb(254 199 179 / 28%);
    }
  }
}

.sidebar-wrapper {
  width: 282px;
  height: calc(100vh - 114px);
}
